html {
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    background-color: black;
}

.fa-playstation  {
    color: blue;
}

.hamburger {
    width: 100%;
    height: auto;
    background: rgb(255, 255, 255);
}

.fa-bars {
    color: gray;
}

.jumbotron-title, .jumbotron-subtitle {
    color: white;
}

.button-buy {
    background: red;
    color: white;
}

.latodestro {
    float: right;
}

.copertina-jumbo {
    background-image: url("../img/jumbo-bg.png");
    background-size: cover;
}
.col-12 {
    background-image: url("../img/jumbo-bg.png");
    background-size: cover;
}
