html {
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    background-color: black;
}

.fa-playstation  {
    color: blue;
}

.hamburger {
    width: 100%;
    height: auto;
    background: rgb(226, 226, 199);
}

.fa-bars {
    color: gray;
}

.jumbotron-title, .jumbotron-subtitle {
    color: white;
}